{% extends 'base.html' %}

{% block content %}
    <h1><a href="{{ bookinstance.book.get_absolute_url }}">{{ bookinstance.book }}</a></h1>
    <h2>ISBN: {{ bookinstance.isbn }}</h2>
    <h2>Language: {{ bookinstance.language.name }}</h2>
    <h2>Status: {{ bookinstance.status }}</h2>

   {% if bookinstance.status == 'Available' %}
    <form action="{% url 'reserve_book' bookinstance.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Reserve</button>
    </form>
{% endif %}
{% endblock %}